*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(sunset.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
	}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.logo{
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content:'';
	width: 0%;
	height: 3px;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width:100%
}

.content{
	width: 60%;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1{
	font-size:70px;
	margin-top: 20 px;
} 

.content p{
	font-weight:100;
	margin: 20 px auto;
	line-height: 25px;
}


button{
	width: 200 px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	height: 100%;
	width: 00%;
	border-radius: 25px;
	background: #009688;
	position: absolute;
	left: 0;
	bottom:0;
	z-index:-1;
	transition:0.5s;
}

button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}

.adress{
	width: 60%;
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.adress p{
	font-weight:100;
	margin: 20 px auto;
	line-height: 25px;
}

.image{
	width: 90%;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	text-align: right;
	color: #fff;
}

